.App {
  text-align: center;
  padding: 25px 50px;
}

.panel-body-otstup {
  padding-top: 15px;
  padding-bottom: 30px;
}
.button-otstup {
  margin-left: 10px;
}
.color-button-1 {
  background-color: #074B85
}

.color-button-2 {
  background-color: #CE000D;
  width: 200px;
}

.color-button-3 {
  background-color: #00AAD6
}

.form-container {
  max-width: 800px;
  margin: auto
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
